<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Mono.Cecil" version="0.9.6.4" targetFramework="net461" />
  <package id="NLog" version="4.4.12" targetFramework="net461" />
  <package id="NLog.Config" version="4.4.12" targetFramework="net461" />
  <package id="NLog.Schema" version="4.4.12" targetFramework="net461" />
</packages>